@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Engineering License for @Html.DisplayFor(model => model.Name)</h2>

@if(ViewBag.EngineerCount == 0)
{
  <p><i>There are no engineers to add yet.</i></p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)
    <div class="form-group">
      @Html.Label("Select Engineer:")
      @Html.DropDownList("EngineerId")
    </div>
    <input type="submit" value="Add Engineer" class="btn btn-primary" />
  }
}

<p>@Html.ActionLink("Back", "Details", new { id = Model.MachineId })</p>