@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Engineering License for @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.Label("Select Engineer:")
    @Html.DropDownList("EngineerId")
  </div>
  <input type="submit" value="Add Engineer" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back", "Details", new { id = Model.MachineId })</p>