@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer

<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<h3>Licenses</h3>
@if(ViewBag.Licenses.Count == 0)
{
  <p><i>No Licenses Currently</i></p>
}
else
{
  <ul>
  @foreach(Machine machine in ViewBag.Licenses)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</li>
  }
  </ul>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>