@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <div class="form-group">
    @Html.Label("First Name")
    @Html.TextBoxFor(model => model.FirstName, new { @class="form-control", @required=true })
  </div>
  <div class="form-group">
    @Html.Label("Last Name")
    @Html.TextBoxFor(model => model.LastName, new { @class="form-control", @required=true })
  </div>
  <input type="submit" value="Save Changes" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.EngineerId })</p>